.schedule_container {
  width: 1000px;
  height: 600px;
}

.schedule_calendar {
  width: 100%;
  height: 100%;

}

.schedule_week {
  border: 3px solid #000;
}

.schedule_date {
  padding: 0px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.schedule_date:first-child {
  border-left: 1px solid #000;
}

.schedule_day {
  padding: 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.schedule_day:first-child {
  border-left: 1px solid #000;
}
