.student_container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.during-popup {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.student_head_icon {
  position: relative;
  height: 30%;
}

.student_body {
  height: 70%;
}

.student_photo_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 90%;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
}

.student_trash_icon {
  position: absolute;
  top: 15%;
  right: 20%;
}

.student_setting_icon {
  position: absolute;
  top: 15%;
  right: 5%;
}

.student_name {
  font-size: 20px;
}

.student_lesson_hours {
  margin-bottom: 10px;
}

.student_delete_btn {
  position: absolute;
  margin-top: 10px;
  top: 75%;
  right: 25%;
  width: 50%;
  height: 15%;
}